# Environment variables
.env

# Virtual environments
.venv
venv/
ENV/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage

# OS files
.DS_Store

# Docs / exports
*.docx
